<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User {{ user.pk }}</h1>
    <br>
    <form action="" method="post">
        <label for="full_name">Full Name</label>
        <br>
        <input type="text" name="full_name" value="{{ user.full_name }}">
        <br>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="text" name="email" value="{{ user.email }}">
        <br>
        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <a style="padding-right: 5px;" href="{{ url_for('show_user', pk = user.pk) }}">Show</a>
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>